# Node
node_modules/

# Backend / Frontend folders
/backend/node_modules/
/frontend/node_modules/

# Build outputs
/frontend/dist/
dist/
build/

# Logs
npm-debug.log*
*.log
/backend/*.log
/frontend/*.log

# Environment files
.env
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Test / coverage
coverage/


.next